global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
  - static_configs:
    - targets: []
    scheme: http
    timeout: 10s
    api_version: v2
scrape_configs:
- job_name: prometheus
  honor_timestamps: true
  scrape_interval: 15s
  scrape_timeout: 10s
  metrics_path: /metrics
  scheme: http
  static_configs:
  - targets:
    - localhost:9090
- job_name: fastapi
  honor_timestamps: true
  scrape_interval: 10s
  scrape_timeout: 8s
  metrics_path: /metrics
  scheme: http
  static_configs:
  - targets:
    - host.docker.internal:8000
- job_name: springapi
  honor_timestamps: true
  scrape_interval: 10s
  scrape_timeout: 8s
  metrics_path: /actuator/prometheus
  scheme: http
  static_configs:
  - targets:
    - host.docker.internal:8001
- job_name: cadvisor
  scrape_interval: 5s
  static_configs:
  - targets:
    - host.docker.internal:8080
